* {

    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', "sans-serif";
    font-style: normal;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navlist {
    list-style-type: none;
}

.navlist .navitem {
    display: inline-block;
    padding: 1rem 2rem;
}


.navbar a {
    font-weight: 600;
    font-size: 1rem;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #252B42;
    text-decoration: none;

}

.navbar a:hover {
    color: #FA4A0C;
}

.menuline {
    display: none;
}

.heroSection {


    height: 719px;
    background: url(image/herobg.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
}

.headings {
    padding-top: 3rem;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.1px;
}

.content {
    padding: 0 8rem;
    font-weight: 700;
    font-size: 58px;
    line-height: 80px;
    letter-spacing: 0.2px;
    text-align: center;

}

.content2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.2px;

}

.btns a {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    text-decoration: none;
}

.btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 34px;
}

.btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 0px;
    width: 236px;
    height: 68px;
}

.orange {
    background-color: #FA4A0C;
    box-shadow: 0px 10px 30px rgba(183, 50, 39, 0.2);
    border-radius: 30px;
}

.white {
    border: 1px solid #FFFFFF;
    border-radius: 30px;
}

.mob {
    width: 100%;
    height: 700px;
    display: flex;

}

.imgone {
    width: 100%;
    padding-left: 20%;
    margin-top: -80px;
}

.imgtwo {
    width: 100%;
    margin-top: 10%;
    margin-left: -16%;

}

.hr {
    margin-top: 550px;

}

.horizontalLine {

    margin: 0 auto;
    width: 70%;
    border: 3px solid #E4E4E4;
}

.appworks {
    padding: 4rem 0;
    font-weight: 600;
    font-size: 3rem;
    line-height: 36px;
    letter-spacing: 0.1px;
    color: #000000;
    opacity: 0.8;
    text-align: center;
}


.wrapper {
    display: flex;
    align-items: center;

}

.darkOrange {
    font-weight: 700;
    font-size: 24px;
    line-height: 2.2rem;
    letter-spacing: 0.1px;
    color: #FA4A0C;

}

.dark {
    font-weight: 700;
    font-size: 2.6rem;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #252B42;
}

.light {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 38px;
    letter-spacing: 0.2px;
    color: #737373;
}

.right,
.exploreLeft {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;

}

.left {
    width: 100%;
    height: auto;
}

.left img {
    width: 100%;
}

.exploreRight img {
    width: 100%;
}

.exploreRight {
    width: 100%;
    height: auto;

}

.exploreLeft {
    padding-left: 134px;
}

.download {
    width: 100%;
    min-height: 550px;
    background: url(image/appbg.png);
    background-repeat: no-repeat;

    color: #FFFFFF;
}

.appcontent {

    font-weight: 700;
    font-size: 2.4rem;
    line-height: 57px;
    padding-top: 8rem;
    text-align: center;
    letter-spacing: 0.2px;

}

.appBtn a {
    font-weight: 700;
    font-size: 1rem;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    text-decoration: none;
}

.appBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.Btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.orangebtn {
    padding: 18px 31px;
    width: 142px;
    height: 64px;
    background-color:#FA4A0C;
    border-radius: 10px;
}

.whitebtn {
    width: 173px;
    height: 60px;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    padding: 16px 45px;
}

.footer {
    height: 133px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.social {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 34px;
}

@media only screen and (max-width:480px) {
    .logo {

        width: 100%;
        margin-left: 0.8rem;
        margin-top: 0.8rem;
    }

    .navbar {
        flex-direction: column;
        position: relative;
    }

    .menuline {
        display: block;
        position: absolute;
        right: 2rem;
        top: 4rem;
    }

    .navlist .navitem {
        display: none;
    }

    /* herosection */
    .heroSection {
        background: none;
        background: #FAFAFA;
        ;
    }

    .headings {
        font-size: 1rem;
        color: #737373;
    }

    .content {
        font-size: 2.2rem;
        color: #737373;
        line-height: 42px;
        padding: 0;
    }

    .content2 {

        font-size: 1.8rem;
        line-height: 38px;
        letter-spacing: 0.2px;
        color: #737373;
    }

    .btns {
        display: flex;
        flex-direction: column;
    }

    .white {
        border: 1px solid #FA4A0C;
    }

    .white a {
        color: #FA4A0C;
    }

    /*mobsection*/
    .imgone img {
        width: 330px;
        height: 451px;
    }

    .imgone {

        margin: 0 -30px;
        padding: 0;

    }

    .imgtwo img {
        width: 169px;
        height: 300px;
    }

    .imgtwo {
        margin-left: -90px;
        margin-top: 100px;
    }

    .hr {
        margin-top: 400px;
    }

    .horizontalLine {
        width: 100%;
    }

    .appworks {
        margin-top: -9rem;
        font-size: 1.6rem;
    }

    /* create account section */
    .createaccountsection {

        display: flex;
        flex-direction: column-reverse;

    }

    .right {
        gap: 1.9rem;
        padding: 0 2rem;
        text-align: center;
    }

    .left img {
        padding-left: 15%;
    }

    .darkOrange {
        text-align: center;
        margin: 0 auto;
    }

    .exploresection {
        display: block;
    }

    .exploreLeft {
        padding: 0;
        gap: 1.9rem;
        padding: 0 2rem;
        text-align: center;
    }

    .exploreRight {
        padding-left: 15%;
    }

    .checkoutsection {
        display: flex;
        flex-direction: column-reverse;
    }

    .appBtn {
        display: flex;
        flex-direction: column;
    }

    .download {
        background: none;
        background-color: #252B42;
        padding: 0 1rem;
    }

    .appcontent {
        padding-top: 3rem;
    }

    .logos {
        display: none;
    }

    .footer {
        display: flex;
        flex-direction: column;
    }

}